# Problem Set 1 Solution Template

In [38]:
import pandas as pd
import numpy as np

# mysoln is a dataframe to store your answers

# the first column of the dataframe contains names for the students in your group
# make sure these match the names shown on the pdf document provided by the MFE office
# using group 1 as an example:

mysoln = pd.DataFrame(["Kevin DeCorso","Prachi Nanavati","Qingyu Wang", "Yijie Sun"],columns=['Group 6'])

In [26]:
#Q1
# 1,2,3 are placeholders for a,b,c. Replace them with your answers. Do the same for Q2-Q4

principle_amount = 100000
interest_rate = 0.04
years = 2

a=0
b=0
c=0
a = principle_amount * (1+interest_rate)**years
print(a)

b = principle_amount * (1+interest_rate/4)**(years*4)
print(b)

c = principle_amount*(1+interest_rate/12)**(years*12)
print(c)

108160.00000000001
108285.67056280802
108314.29591590662

In [27]:
#Q2
import numpy as np
import pandas as pd

#a

payments_to_charlotte = np.ones(10)*200000
payment_years = np.arange(start=2, stop=21 , step=2)
interest_rate_2 = np.ones(10)*5
present_value = sum(payments_to_charlotte/((1+interest_rate_2/100)**(payment_years)))
print(present_value)

#b 
x = 3000000
new_payments_to_charlotte = x/sum(1/((1+interest_rate_2/100)**(payment_years)))
print(new_payments_to_charlotte)

1215825.3992721934
493491.9112227519

In [28]:
#Q3
#a
import numpy as np
import pandas as pd

earnings = np.ones(35)*200000
savings = np.ones(35)*0.25*200000
interest_rate_3 = np.ones(35)*0.01
years = np.arange(start =1, stop=36, step =1)
computational_years = years[::-1]
final_savings = sum(savings*((1+interest_rate_3)**(computational_years-1))) 
print(final_savings)

#b
discount_rates = 1/((1+0.01)**years[0:20])
new_yearly_payments = final_savings/sum(discount_rates)
print(new_yearly_payments)

2083013.7801563398
115430.86454872132

In [29]:
import numpy as np
import pandas as pd

#Q4
house_price = 700000
downpayment = 200000
mortgage_amount = 500000
monthly_APR = 0.03
periods = 12*30

#a
EAR = (1+monthly_APR/12)**12 - 1
print(EAR)

#b

monthly_cashflow = (mortgage_amount*monthly_APR/12)/(1-(1/(1+monthly_APR/12))**(periods))
print( monthly_cashflow)

#c
cashflow_after20 = (monthly_cashflow/(monthly_APR/12))*(1-((1/(1+monthly_APR/12))**(12*25))) 
print(cashflow_after20)

0.030415956913506736
2108.020168647275
444531.81673348666

In [43]:
mysoln

     student Q1 Q2 Q3 Q4
0  Student A  1  1  1  1
1  Student B  2  2  2  2
2  Student C  3        3
3  Student D